/Tetris/nbproject/private/
/Tetris/build/
/Tetris/dist/
/guitest/nbproject/private/
/ykkosBittiSumma/nbproject/private/
/ykkosBittiSumma/build/
/ykkosBittiSumma/dist/
/Osajoukko/nbproject/private/
/Osajoukko/build/